{% extends 'layout.html' %}

{% block content %}
    <h1 align='center'>แทงหวยออนไลน์</h1>
    <form action="addBet" method="post">
        {% csrf_token %}
        <div class="form-group"> 
            <label for="">เลขที่ต้องการแทง</label>
            <input type="number" class="form-control" name="numberLotto">
            <label for="">บน - ล่าง</label><br>
        <div class="form-group">
            <input type="checkbox" value="0" name="top">
            <label>บน</label><br>
        </div>    
        <div class="form-group">
            <input type="checkbox" value="0" name="down">
            <label>ล่าง</label><br>
        </div>
            <label>จำนวนเงินที่ต้องการแทง</label><br>
            <input type="number" class="form-control" name="price">
            <input type="submit" value="บันทึกข้อมูล" class="btn btn-primary">
        </div>
    </form>
{% endblock %}